<header class="masthead mb-auto">
<div class="inner">
  <h3 class="masthead-brand">Mwinbe Metouole SOMDA</h3>
  <nav class="nav nav-masthead justify-content-center app-nav">
    <%= nav_helper 'nav-link', 'a' %>
    <%= login_helper 'nav-link' %>
    <!--<%= link_to "angular", contact_path, class: "nav-link" %>-->
  </nav>
</div>
</header>


