<h1>Ingenieur Support Monétique </h1>
<div class="row">
		<div class="col-md-4">
			<%= image_tag "profile2.jpg", width: 300, alt: 'photo of my' %>
		</div>

		<div class="col-md-8">
			<p class="lead">Je me nomme Yves Ghislain Métouolé Mwinbé, j'ai 27 ans et je suis ingénieur Support Monétique au GIM-UEMOA.
			Assurer le bon déroulement des transactions monétiques, la mise à
			disposition des fichiers de comptabilisations des membres du GIM-UEMOA.
			Assurer le traitement batch des Flux Monétiques du GIM-UEMOA.
			Appliquer le référentiel de contrôle des activités de support monétiques du GIM-UEMOA.
			Assurer la prise en compte et le traitement des requêtes de support monétique soumises via le Centre de services du GIM-UEMOA et les documenter.
			Mettre en place des Reporting réguliers des traitements des dysfonctionnements des activités monétiques du GIM-UEMOA.
			Participer à la veille monétique et prendre en compte les évolutions des normes et des règles monétiques régionales et internationales.</p>
			
		</div>
	</div>
