<h1>Pages#contact</h1>
<p><%= number_to_phone "00221773352896" %></p>
<p><%= number_to_currency "1450" %></p>
<p><%= number_to_percentage "67.76" %></p>
<p><%= number_with_delimiter "556678839" %></p>