
<h3>Pour toutes Informations veuillez me contacter sans hésitez, ca sera toujours avec plaisir peut importe votre demande</h3>
<div class="app-card-container card">
	<div class="row">
	

		<div class="col-md-6">
			<p>mon numero whatsapp: <%= number_to_phone "00221773352896" %></p>
			<p>Appelez moi: <%= number_to_phone "00221777097065" %></p>
			<p>mon address electronique est: <a href="mailto:metcorpinvest@gmail.com?subject=ContactEmail">M'envoyer un email</a></p>
			<p>Nombre de client satisfait et qui nous recommande: <%= number_to_percentage "98.76" %></p>
		</div>

		<div class="col-md-6">
			<iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d61736.50772994297!2d-17.4678016!3d14.73904640000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d44.132351!2d4.0908575!5e0!3m2!1sfr!2ssn!4v1581557688008!5m2!1sfr!2ssn" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		</div>
	</div>
</div>