<h1>Pour toutes Informations veuillez me contacter sans hésitez, ca sera toujours avec plaisir peut importe votre demande</h1>
<p>mon numero whatsapp: <%= number_to_phone "00221773352896" %></p>
<p>Appelez moi: <%= number_to_phone "00221777097065" %></p>
<p>mon address electronique est: metcorpinvest@gmail.com</p>
<p>Nombre de client satisfait et qui nous recommande: <%= number_to_percentage "98.76" %></p>
