<main role="main" class="inner cover">
	<h1 class="cover-heading">Presentation de mon Profil.</h1>
	<p class="lead">Je me nomme Yves Ghislain Métouolé Mwinbé, j'ai 27 ans et je suis ingénieur Support Monétique au GIM-UEMOA.
	Assurer le bon déroulement des transactions monétiques, la mise à
	disposition des fichiers de comptabilisations des membres du GIM-UEMOA.
	Assurer le traitement batch des Flux Monétiques du GIM-UEMOA.
	Appliquer le référentiel de contrôle des activités de support monétiques du GIM-UEMOA.
	Assurer la prise en compte et le traitement des requêtes de support monétique soumises via le Centre de services du GIM-UEMOA et les documenter.
	Mettre en place des Reporting réguliers des traitements des dysfonctionnements des activités monétiques du GIM-UEMOA.
	Participer à la veille monétique et prendre en compte les évolutions des normes et des règles monétiques régionales et internationales.</p>
	<p class="lead">
		<%= link_to "About Us", about_path, class: 'btn btn-lg btn-secondary' %>
	</p>
</main>